
body
{
    margin: 0;
    padding: 0;
    text-align: centre;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(Landscape.jfif);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
    
}
.enquiry-title
{
    margin-top: 100px;
    text-align: centre;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.enquiry-title h1
{
    front-size: 32px;
    line height: 10px;
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-botto: 1px solid gray;
    colour: #fff;
    font-size: 18;
    margin-bottom: 16px;
}
input
{
    height: 45px;
}
form .submit
{
    background: #ff5722;
    border color: transparennt;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-tops: 20px;
}
form .submit:hover
{
    background-color: #443336;
    cursor: pointer;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
