
body{
    margin: 0;
    padding: 0;
    text-align:centre;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(Landscape.jfif);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
    

}
.enquiry-title
{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.enquiry-title h1
{
    front-size: 32px;
    line height: 10px;
}
form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-botto: 1px solid gray;
    colour: #fff;
    font-size: 18;
    margin-bottom: 16px;
}
